# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
!terraform.tfvars.example
override.tf
override.tf.json
encrypted_key.txt

# OS / IDE
.DS_Store
.vscode/
.idea/

# Logs & Secrets
*.log
.env
gemini-config.json
secret.*
*.secret
