tenancy_ocid     = "ocid1.tenancy.oc1..xxxxxx"
user_ocid        = "ocid1.user.oc1..xxxxxx"
fingerprint      = "xx:xx:xx:xx:xx:xx:xx:xx"
private_key_path = "/home/david/.oci/key.pem"
region           = "eu-marseille-1"
compartment_id   = "ocid1.tenancy.oc1..xxxxxx"
ssh_public_key   = "ssh-ed25519 AAAAC3..."
admin_ssh_cidr   = "0.0.0.0/0" # À remplacer par votre IP publique (ex: 203.0.113.50/32)

# Options futures (laisser vide pour l'instant tant que vous n'avez pas de domaine)
domain_name       = ""
letsencrypt_email = ""
