user=ocid1.user.oc1..aaaaaaaa4h5dsinpwtymymlf454n6jedk3ti5fseq2kcryp4ye2ibznbgw3a
fingerprint=be:6e:93:68:ef:49:bb:bf:de:25:53:6f:fe:ee:82:ec
tenancy=ocid1.tenancy.oc1..aaaaaaaavrkmdu7m66qqyxkkx6j2j3m5g6jxatjczrs44jxacu7hnwgqo7sa
region=eu-marseille-1
key_file=~/.oci/david.mouchere@free.fr-2026-09-27T13_48_24.860Z.pem